.my-reader-translation {
  margin-top: 2px;
  padding: 6px 7px;
  background: #0f0f0f;
  border-radius: 6px;
  font-size: 13px;
  line-height: 1.4;
  border: 1px solid #3561b6;
}

.my-reader-button {
  padding: 2px 2px;
  margin-top: 2px;
  color: #3561b6;
}

.my-reader-button svg {
  width: 16px;
  height: 16px;
}

.my-reader-button:hover {
  color: #0841b3;
}
